<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700" media="all">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/leaflet.css">
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/leaflet.js"></script>

</head>

<body>
	<div class="header">
		<h1>Medidores en Madrid</h1>
	</div>
	<div id="map"></div>
    <div class="legend">
        <h3>Leyenda</h3>
        <hr>
        <ul>
            <li>
                <img src="img/air.png">
                <span>Estación de control de calidad del aire</span>
            </li>
            <li>
                <img src="img/sound.png">
                <span>Estación de medida de contamiación acústica</span>
            </li>
        </ul>
    </div>

	<script type="text/javascript" src="js/main.js"></script>
</body>

</html>